name: CI Release

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ci-release-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Rustfmt
        run: cargo fmt --check
      - name: Clippy
        run: cargo clippy

  release:
    runs-on: ubuntu-latest
    needs: lint
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    outputs:
      tag: ${{ steps.changelog.outputs.tag }}
      skipped: ${{ steps.changelog.outputs.skipped }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          output-file: "false"
          skip-ci: "false"
          skip-on-empty: "false"
          skip-tag: "true"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version-file: "Cargo.toml"
          version-path: "package.version"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}

  build_binaries:
    needs: release
    if: needs.release.outputs.tag != ''
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ needs.release.outputs.tag }}
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2

      - name: Build in release mode
        run: cargo build --release

      - name: Prefix binary name (unix)
        if: runner.os != 'Windows'
        shell: bash
        run: cp target/release/aoede target/release/${{ runner.os }}-aoede

      - name: Prefix binary name (windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: Copy-Item target\release\aoede.exe target\release\Windows-aoede.exe

      - name: Add to release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.release.outputs.tag }}
          files: |
            target/release/*-aoede
            target/release/*-aoede.exe
          fail_on_unmatched_files: true
